/* type
----------------------------------------------------------------------------- */
h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: $white;
}

h2,
h3,
p {
  color: $brand-primary;
}

h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.25rem;
  line-height: 1.2;
}

p,
a {
  font-size: 1.5rem;
}

p {
  line-height: 1.4;
}
